

header {
    position:fixed;
    height: auto;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    font-family: "Georgia";
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #cccccc;
}

.name {
    background-color: #4aaaa5;
    font-size: 150%;
    font-family: "Georgia";
    font-weight: bold;
    color: #ffffff;
    border-left-style: solid;
    border-left-width: 1px;
    border-color: #ffffff;
    float: left;
    margin: 0% 15% 0% 15%;
    padding: 25px 25px 25px 25px;
}

.nav {
    font-size: 100%;
    font-family: "Arial";
    color: #777777;
    position: relative;
    left: 12%;
    margin:30px 10px 0px 0px;
    display: inline-block;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #cccccc;
    padding-right:18px;
    
}

.nav1 {
    font-size: 100%;
    font-family: "Arial";
    color: #777777;
    position: relative;
    left: 12%;
    margin:30px 30px 0px 0px;
    display: inline-block;
}

a {
    text-decoration: none;
}

h2{
    font-size: 150%;
    font-family: "Georgia";
    font-weight: bold;
    color: #4aaaa5;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #dddddd;
    padding: 0px 0px 10px 0px;
}

h3 {
    font-size: 125%;
    font-family: "Georgia";
    font-weight: bold;
    color: #4aaaa5;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #dddddd;
    padding: 0px 0px 10px 0px;
}

p {
    margin-top: 8px;
}

.aboutme {
    font-size: 100%;
    font-family: "arial";
    background-color: #ffffff;
    height: auto;
    width: 35%;
    position: relative;
    top: 100px;
    left: 15%;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding: 20px 20px 20px 20px;
}

.formbox {
    background-color: white;
    height: auto;
    width: 35%;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding: 20px 20px 20px 20px;
    position: relative;
    top: 100px;
    left: 15%;
}

form {
    font-family: "Arial";
    color: #777777;
    margin: 15px 0px 0px 0px;
    
}

.message {
    height: 200px;
}

textarea {
    margin: 3px 0px 10px 0px;
    width: 99%; 
}


button {
    font-family: "Arial";
    font-size: 90%;
    color: #ffffff;
    margin: 15px 0px 0px 0px;
    background-color: #4aaaa5;
    border: none;
    height: 35px;
    width: 20%;
}

.connect {
    background-color: #ffffff;
    height: auto;
    width: 15%;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding: 20px 20px 20px 20px;
    margin: 1px;
    position: absolute;
    top: 100px;
    left: 58%;
    text-align: center;
}

.self {
    height:auto;
    width: 40%;
    float:left;
    margin: 8px 15px 15px 0px;
}

.connectimg {
    height: 15%;
    width: 25%;
    margin: 15px 0px 0px 10px;

}

.connectimg1 {
    height: 15%;
    width: 25%;
    margin: 15px 0px 3px 10px;

}

body {
    background-image: url("../images/concrete.png")
}

footer {
    position:fixed;
    bottom: 0px;
    height: auto;
    width: 100%;
    z-index: 1;
    background-color: #666666;
    font-family: "arial";
    font-size: 90%;
    color: #ffffff;
    padding: 25px 0px 25px 0px;
    text-align:center;
    border-top-style: solid;
    border-top-width: 5px;
    border-color: #4aaaa5;
}